
  <h1><%= image_tag @clinic.image.url %></h1><br>

<div class ="show_clinic">
  <table class="table table-bordered">
    <tr>
      <th><%= t("view.clinic_name")%></th>
      <td><%= @clinic.name %></td>
    </tr>
    <tr>
      <th><%= t("view.address")%></th>
      <td><%= @clinic.address %></td>
    </tr>
    <tr>
      <th><%= t("view.phone_number")%></th>
      <td><%= @clinic.phone_number %></td>
    </tr>
  </table><br>
  <table class="table table-bordered"><br>
      <tr>
        <h4><%= t('view.clinic_information') %></h4>
      </tr>
    <% @clinic.informations.each do |information| %>
      <tr>
        <td><%= information.comment %></td>
      </tr>
    <% end %>
  </table><br>

<div class=""><%= link_to "予約をする",  client_clinic_reservation_path(@clinic),id:"booking", class:"btn btn-primary" %></div>
<br>
<h4 id="patient_page"><%= current_user.patient.name %>さんの予約</h4>
<table class="table table-bordered">
  <tr>
    <th><%= t('view.clinic_name') %></th>
    <th><%= t('view.reservation_start') %></th>
    <th><%= t('view.reservation_end') %></th>
    <th><%= t('view.edit') %></th>
    <th><%= t('view.destroy') %></th>
  </tr>
  <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.clinic.name %></td>
      <td><%= reservation.start.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= reservation.end_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= link_to t("view.edit"), edit_client_clinic_reservation_path(@clinic,reservation.id), class:"btn btn-primary" %> </td>
      <td><%= link_to t('view.destroy'), client_clinic_reservation_path(@clinic,reservation.id), method: :delete, class:"btn btn-primary" %></td>
    </tr>
  <% end %>
</table>

