<div class ="show_clinic">
  <h1><%= @clinic.name %></h1>
  <h1><%= image_tag @clinic.image.url %></h1>
  <h1><%= @clinic.address %></h1>
  <h1><%= @clinic.phone_number %></h1>
</div>
<div class=""><%= link_to "予約をする" %></div>


