<div class ="show_clinic">
  <h1><%= @clinic.name %></h1>
  <h1><%= t('view.address') %>:<%= @clinic.address %></h1>
  <h1><%= t('view.phone_number') %>:<%= @clinic.phone_number %></h1>
  <h1><%= image_tag @clinic.image.thumb.url %></h1>
  <div>
    <table class="table table-bordered">
        <tr>
          <th>お知らせ</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      <% @informations.each do |information| %>
        <tr>
          <td><%= information.comment %></td>
          <td><%= link_to t('view.information_edit'), edit_staff_information_path(information.id), data: { confirm: '本当に編集していいですか？' } %></td>
          <td><%= link_to t('view.information_destroy'), staff_information_path(information.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class=''><%= link_to t('view.information_create'), new_staff_information_path %></div>
  

  <h1><%= @clinic.address %></h1>
  <h1><%= @clinic.phone_number %></h1>
  
</div>


<div class=""><%= link_to t('view.reservation') %></div>
<div class=""><%= link_to "編集", edit_staff_clinic_path(current_user.doctor.clinic.id) %></div>
<div class=""><%= link_to t('view.my_page'), doctor_path(current_user.doctor.id) %></div>
