<br>
<div class ="show_clinic">
  <table class="table table-bordered">
    <tr>
      <th><%= t("view.clinic_name")%></th>
      <td><%= @clinic.name %></td>
    </tr>
    <tr>
      <th><%= t("view.address")%></th>
      <td><%= @clinic.address %></td>
    </tr>
    <tr>
      <th><%= t("view.phone_number")%></th>
      <td><%= @clinic.phone_number %></td>
    </tr>
  </table><br>
  <h4>予約状況</h4>
  <table class="table table-bordered">
  <tr>
    <th><%= t('view.name') %></th>
    <th><%= t('view.reservation_start') %></th>
    <th><%= t('view.reservation_end') %></th>
    <th><%= t('view.edit') %></th>
    <th><%= t('view.destroy') %></th>
  </tr>
  <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.name %></td>
      <td><%= reservation.start.strftime("%Y年 %m月%d日 %H:%M") %></td>
      <td><%= reservation.end.strftime("%Y年 %m月%d日 %H:%M") %></td>
      <td><%= link_to t("view.edit"), edit_staff_reservation_path(@clinic), class:"btn btn-primary" %> </td>
      <td><%= link_to t('view.destroy'), staff_clinic_path(reservation.id), method: :delete, class:"btn btn-primary" %></td>   
    </tr>
  <% end %>
  <%# <%= paginate @reservations %> 
</table>
<%= link_to "全ての予約を確認する", staff_clinic_path(start: :asc), class:"btn btn-info" %>
<%= link_to "本日の残りの予約を確認する", staff_clinic_path(sort_today: "true"), class:"btn btn-info" %>
</div>
<div>
  <h1><%= image_tag @clinic.image.thumb.url %></h1>
</div> 
<div>
  <table class="table table-bordered">
    <tr>
      <th><%= t('view.notice') %></th>
      <th><%= t('view.edit') %></th>
      <th><%= t('view.destroy') %></th>
    </tr><br>
   <h4><%= t('view.clinic_information') %></h4>
    <% @informations.each do |information| %>
    <tr>
      <td><%= information.comment %></td>
      <td><%= link_to t('view.edit'), edit_staff_information_path(information.id), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to t('view.destroy'), staff_information_path(information.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class=''><%= link_to t('view.information_create'), new_staff_information_path, class:"btn btn-primary" %></div>
<div class=""><%= link_to t('view.reservation_table'), staff_reservation_path(current_user.doctor.clinic.id), class:"btn btn-primary" %></div>
<div class=""><%= link_to "予約編集", edit_staff_reservation_path(current_user.doctor.clinic.id), class:"btn btn-primary" %></div>
<div class=""><%= link_to t('view.edit'), edit_staff_clinic_path(current_user.doctor.clinic.id), class:"btn btn-primary" %></div>
<div class=""><%= link_to t('view.my_page'), doctor_path(current_user.doctor.id), class:"btn btn-primary" %></div>
