<div>
  <h4>予約編集</h4>
  <br>
</div>

<%= form_with model: @reservation, url: client_clinic_reservation_path(@clinic), local: true do |form| %>



<% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= @reservation.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="start">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>
   <br>

  <div class="start">
    <%= form.label :start %>
    <%= form.datetime_field :start, class:"form-control" %>
  </div>
   <br>

  <div class="end">
    <%= form.label :end %>
    <%= form.datetime_field :end, class:"form-control" %>
  </div>
  <br>

  <%= form.submit "変更する" %>

<% end %>