<h1><%= t('view.patient_index') %></h1>
 <table class="table table-bordered">
      <tr>
        <th>画像<%= t('view.image') %></th>
        <th>名前<%= t('view.name') %></th>
        <th>性別<%= t('view.gender') %></th>
        <th>生年月日<%= t('view.birthday') %></th>
        <th>詳細<%= t('view.details') %></th>
      </tr>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= image_tag patient.image.thumb50.url %></td>
        <td><%= patient.name %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.birthday %></td>
        <td><%= link_to t('view.details'), patient_path(patient.id) %></td>
      </tr>
    <% end %>
  </table>

    <%= link_to t('view.my_page'), doctor_path(current_user.doctor.id) %>
