<h1>患者用マイページ</h1>
<p>名前: <%= @patient.name %></p>
<p>性別: <%= @patient.gender %></p>
<p>生年月日: <%= @patient.birthday %></p>
<p>住所: <%= @patient.address %></p>
<p>電話番号: <%= @patient.phone_number %></p>
<p>メールアドレス: <%= @patient.user.email %></p>
<p>画像: <%= @patient.image %></p>

<% if current_user.patient %>
  <%= link_to "マイページを編集する", edit_patient_path(@patient) %>
  <%= link_to "治療院一覧へ", client_clinics_path %>
<% else %>
  <%= link_to "治療院マイページへ", doctor_path(current_user.id) %>
<% end %>

