<h1><%= t('view.patient_my_page') %></h1>
<div class = "">
  <div><%= image_tag @patient.image.thumb.url %></div>
  <div><%= t('view.name') %>: <%= @patient.name %></div>
  <div><%= t('view.gender') %>: <%= @patient.gender %></div>
  <div><%= t('view.birthday') %>: <%= @patient.birthday %></div>
  <div><%= t('view.address') %>: <%= @patient.address %></div>
  <div><%= t('view.phone_number') %>: <%= @patient.phone_number %></div>
  <div><%= t('view.email') %>: <%= @patient.user.email %></div>
</div>

<% if current_user.patient %>
  <%= link_to t('view.my_page_edit'), edit_patient_path(@patient) %>
  <%= link_to t('view.clinic_index'), client_clinics_path %>
<% else %>
  <%= link_to t('view.clinic_my_page'), doctor_path(current_user.id) %>
<% end %>

