<h1>治療院用マイページ</h1>

<h4>本日の予約状況</h4>

<h4>インフォメーション</h4>


<h4>治療院用マイページ</h4>

<div><%= link_to '治療院情報' %></div>
<div><%= link_to 'スタッフ作成', new_user_registration_path %></div>
<div><%= link_to 'スタッフ・患者さん一覧' %></div>
<div><%= link_to '全ての予約状況' %></div>
<div><%= link_to 'インフォメーション作成' %></div>
<div><%= link_to 'マイページ編集' %></div>