<div class="main-container ">
<h2>ユーザ編集画面</h2>

<% if @doctor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this @doctor from being saved:</h2>
    <ul>
    <% @doctor.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @doctor, local: true) do |f| %>      

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :name_kana %><br />
    <%= f.text_field :name_kana %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, Doctor.genders.keys.to_a, {} %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit t('view.update') %>
  </div>
<% end %>
<%= link_to t('view.my_page'), doctor_path(@doctor), class:"btn btn-primary" %>
</div>
