<h1>スタッフ一覧</h1>
 <table class="table table-bordered">
      <tr>
        <th><%= t('view.image') %></th>
        <th><%= t('view.name') %></th>
        <th><%= t('view.gender') %></th>
        <th><%= t('view.birthday') %></th>
        <th><%= t('view.admin') %></th>
        <th><%= t('view.details') %></th>
        <th><%= t('view.destroy') %></th>
      </tr>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= image_tag doctor.image.thumb50.url %></td>
        <td><%= doctor.name %></td>
        <td><%= doctor.gender %></td>
        <td><%= doctor.birthday %></td>
        <td>
          <% if doctor.admin? %>
            <%= t('view.true') %>
          <% else %>
            <%= t('view.false') %>
          <% end %>
        </td>
        <td><%= link_to t('view.details'), doctor_path(doctor.id) %></td>
        <td><%= link_to t('view.destroy'), doctor_path(doctor.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
      </tr>
    <% end %>
  </table>

    <%= link_to t('view.my_page'), doctor_path(current_user.doctor.id) %>