<h1><%= t('view.staff_my_page') %></h1>

 <table class="table table-bordered">
      <tr>
        <h4><%= t('view.clinic_information') %></h4>
      </tr>
    <% @informations.each do |information| %>
      <tr>
        <td><%= information.comment %></td>
      </tr>
    <% end %>
  </table>
<% if @doctor.image.present? %>
  <div class = "">
    <%= image_tag @doctor.image.thumb.url %>
  </div>
<% end %>

<div class ="">
  <table class="table table-bordered">
    <tr>
      <th><%= t('view.name') %></th>
      <td><%= @doctor.name %></td>
    </tr>
    <tr>
      <th><%= t('view.gender') %></th>
      <td><%= @doctor.gender %></td>
    </tr>
    <tr>
      <th><%= t('view.birthday') %></th>
      <td><%= @doctor.birthday %></td>
    </tr>
    <tr>
      <th><%= t('view.phone_number') %></th>
      <td><%= @doctor.phone_number %></td>
    </tr>
    <tr>
      <th><%= t('view.qualification') %></th>
      <td><%= @doctor.qualification %></td>
    </tr>
    <tr>
      <th><%= t('view.comment') %></th>
      <td><%= @doctor.comment %></td>
    </tr>
    <tr>
      <th><%= t('view.admin') %></th>
        <% if current_user.doctor.admin == true %>
          <td><%= t('view.true') %></td>
        <% else %>
          <td><%= t('view.false') %></td>
        <% end %>
    </tr>
  </table>
</div>

<% if current_user.id == @doctor.user.id || @doctor.admin == true %>
  <div><%= link_to t("view.profile_edit"), edit_doctor_path(@doctor), class:"btn btn-primary" %></div>
  <div><%= link_to t("view.email_password_edit"), edit_user_registration_path(@doctor), class:"btn btn-primary" %></div>
  <div><%= link_to t("view.clinic_show"), staff_clinic_path(current_user.doctor.clinic.id), class:"btn btn-primary" %></div>
  <div><%= link_to t("view.staff_index"), doctors_path, class:"btn btn-primary" %></div>
  <div><%= link_to t("view.patient_index"), patients_path, class:"btn btn-primary" %></div>
<% end %>


