<h1>治療院用マイページ</h1>

 <table class="table table-bordered">
      <tr>
        <th>お知らせ</th>
      </tr>
    <% @informations.each do |information| %>
      <tr>
        <td><%= information.comment %></td>
      </tr>
    <% end %>
  </table>



<div class = "">
  <div><%= image_tag @doctor.image.thumb.url %></div>
  <div>名前: <%= @doctor.name %></div>
  <div>性別: <%= @doctor.gender %></div>
  <div>生年月日: <%= @doctor.birthday %></div>
  <div>電話番号: <%= @doctor.phone_number %></div>
  <div>コメント: <%= @doctor.comment %></div>
  <div>管理者権限: <%= @doctor.admin %></div>
</div>











<% if current_user.id == @doctor.user.id || @doctor.admin == true %>
  <%= link_to "マイページを編集する", edit_doctor_path(@doctor) %>
  <%= link_to "治療院情報へ", staff_clinic_path(current_user.doctor.clinic.id) %>
  <%= link_to "スタッフさん一覧", doctors_path %>
  <%= link_to "患者さん一覧", patients_path %>
<% else %>
  <%= link_to "スタッフさん一覧", doctors_path %>
  <%= link_to "患者さん一覧", patients_path %>
<% end %>


