<!DOCTYPE html>
<html>
  <head>
    <title>ConnectCircle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="app_name"><%= link_to "ConnectCircl" %></div>
      <div class="header_manu">
        <% if user_signed_in? %>
          <% if current_user.doctor %>
            
            <div class='crrent_user'><%= t('view.user_name') %>：<%= current_user.doctor.name %></div>
            <div class='my_page'><%= link_to  t('view.my_page'), doctor_path(current_user.id) %></div>
            <% if current_user.doctor.admin == true %>
              <div class='doctor_create'><%= link_to t('view.staff_create') %></div>
            <% end %>
            <div class='index'><%= link_to t('view.clinic_information'), staff_clinic_path(current_user.doctor.clinic.id) %></div>
            <div class='index'><%= link_to t('view.staff_index'), doctors_path %></div>
            <div class='index'><%= link_to t('view.patient_index'), patients_path %></div>
            <div class='reservation_index'><%= link_to t('view.reservation_index') %></div>
            <div class='information_create'><%= link_to t('view.information_create'), new_staff_information_path %></div>
          <% end %>
          <% if current_user.patient %>
            <div class='crrent_user'><%= t('view.user_name') %>:<%= current_user.patient.name %></div> 
            <div class='my_page'><%= link_to t('view.my_page'), patient_path(current_user.patient.id) %></div>
            <div class='clinic_page'><%= link_to t('view.clinic_index'), client_clinics_path %></div>
          <% end %>
          <div class='log_out'><%= link_to t('view.log_out'), destroy_user_session_path, method: :delete %>
        <% else %>
          <div class='sign_up'><%= link_to t('view.sign_up') %></div>
          <div class='log_in'><%= link_to t('view.log_in'), new_user_session_path %></div>
        <% end %>
      </div>
    </div>
    </header>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
    <%= yield %>
  <footer>
      <div>
        <li>ConnectCircle</li>
        <li>© 2019 Copyright MATSUSE</li>
      </div>
    </footer>
  </body>
</html>

